.pfHeader {
  @apply relative bg-slate-200 text-slate-900 h-16;

  & > .pfNameBtn {
    @apply absolute bg-white top-0 left-0 z-30 w-full flex flex-row justify-between items-center px-5 h-full shadow-xl;

    & > h1 {
      @apply text-base sm:text-lg md:text-xl font-bold;

      & > span {
        @apply text-lg sm:text-xl md:text-2xl font-bold;
      }
    }

    & > button {
      @apply md:hidden;
      & > img {
        @apply w-8 h-8 sm:w-10 sm:h-10;
      }
    }
  }

  & > .pfNavCls {
    @apply z-20 md:z-40 top-[-192px] left-0 absolute w-full flex justify-between px-5 py-5 bg-red-300;

    & > nav {
      /* @apply bg-slate-500 ; */

      & > ul {
        @apply flex flex-col gap-6 md:flex-row;

        & > li {
          & > a {
            @apply relative text-lg font-bold tracking-wider sm:text-xl;

            &::after {
              position: absolute;
              content: '';
              width: 0px;
              height: 0px;
              background-color: blue;
              bottom: 0;
              left: 0;
              right: 0;
              margin: 0px auto;
              transition: width 500ms ease-in 100ms;
            }

            &:hover::after {
              width: 100%;
              z-index: 10px;
              height: 2px;
            }
          }
        }
      }
    }

    & > button {
      @apply absolute right-[10px] top-[10px] md:hidden;
      & > img {
        @apply w-5 h-5 sm:w-7 sm:h-7;
      }
    }
  }

  & > .pfNavClose{
    
    position: absolute;
    width: 100%;
    top: -192px; 
    left: 0;
    animation-name: navAni;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: forwards
  }
}

.frontAni {
  @apply flex flex-col items-center  justify-center z-40 overflow-visible h-screen bg-slate-900;

  & > p {
    @apply animate-bounce overflow-visible text-2xl text-gray-200 font-bold sm:text-4xl sm:text-6xl;
  }
}

.frontAni {
  position: absolute;
  width: 100%;
  animation-name: frontpage;
  animation-duration: 1s;
  animation-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
  top: 0px;
  left: 0px;
}
@keyframes frontpage {
  0% {
    top: 0px;
    left: 0px;
  }
  100% {
    top: 0px;
    left: -1500px;

    opacity: 0;
  }
}

@keyframes navAni{
  
  100%{
    top:64px;
  }
}